.loginContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--bg-main);
}

.loginTitle {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    color: var(--text-main);
}

.loginSubtitle {
    font-size: 1.25rem;
    margin-bottom: 1.5rem;
    color: var(--text-main);
}

.loginForm {
    background-color: var(--bg-card);
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-bottom: 1rem;

}

.loginInput {
    flex: 1;
    padding: 0.5rem 0.75rem;
    border: 1px solid #E0BFBF;
    background-color: #F1F1F1;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
    font-size: 1rem;
}

.loginButton {
    border-radius: 0.5rem;
    background: #7E2C2C;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    cursor: pointer;
    padding: 1rem;
    border: none;

    color: #FFF;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}